body {
	color: blue;
	background-color: #BEBEBE;
	font-family: @GulimChe, "Swis721 Lt BT", "@Arial Unicode MS", fantasy;
	font-size: small;
	font-weight: bold;
	text-align: left;
}

a {
	color: #838383;
	text-decoration: none;
}

a:hover {
	color: #6C6EFF;
	text-decoration: none;
}