
            <div align="center">
              <p>&nbsp;</p>
              <p><img src="imagenes/openorders.gif" width="33" height="33">&nbsp; <span class="titulo">Listado de temas </span><br>
                <br>

			    </p>
            </div>
            <table width="441"  border="0" align="center" cellpadding="4" cellspacing="1" bgcolor="#6699CC">
              <tr align="left" class="txtablas">
                <td width="188" scope="col">Tema</td>
                <td width="81" scope="col">Estado</td>
                <td width="81" scope="col">Quorum</td>
                <td width="54" scope="col">Curules</td>
                <td width="54" scope="col"></td>
              </tr>
              <? foreach ($_SESSION['lista'] as $k => $tema) { ?>
                <tr bgcolor="<?= ($k % 2) ? '#E4EDFA' : '#C5DFF3'?>"
			  onMouseOver="this.bgColor='#C2D5E2'" 
			  onMouseOut="this.bgColor='<?= ($k % 2) ? '#E4EDFA' : '#C5DFF3'?>'">
                <td align="left">
				<a href="phrame.php?action=ver_opciones&tema_id=<?= $tema['tema_id']?>"
				   title="Ver Opciones"
				   onmouseover="status='Ver Opciones'; return true;"
				   onmouseout="status=' '; return true;">
				<u><?= $tema['nombre']?></u>				</a>				</td>
                <td align="left"><?= $tema['estado']?></td>
                <td align="left" nowrap="nowrap"><?= $tema['quorum']?> % </td>
                <td align="center"><?= $tema['curules']?></td>
                <td align="center"><input type="button" value="Eliminar" onclick="location='phrame.php?action=eliminar_tema&id_tema=<?= $tema['tema_id'] ?>'" class="boton" /></td>
              </tr>
   <? } ?>
</table>
 <br>