<script language="javascript" type="text/javascript">
<!--
	function crear_opciones(tema_id, nombre)
	{
		var objInput = document.getElementById("opciones" + tema_id); 
		var numOpciones = objInput.value;
		var height = 150 + 20 * numOpciones;
		var features = "width=300, height="+height+", top=80, left=70, toolbar=no, resizable=yes, scrollbar=yes";
		var url = "index.php?view=vistas/temas/crear_opciones.html&tema_id="+tema_id+"&nombre="+nombre+"&num_opciones="+numOpciones;
		
		window.open(url, "crear_opciones", features);
	}
-->
</script>
<p align="center">&nbsp;</p>
<p align="center"><img src="imagenes/openorders.gif" width="33" height="33">&nbsp;<span class="titulo"> Listado de Opciones</span></p>
<table width="100" border="0" align="center" cellpadding="2" cellspacing="1" class="tabla_borde">
  <tr>
    <td class="td_dialogo"><table width="216" border="0" align="center" cellpadding="3" cellspacing="0">
      <tr>
        <td align="right"><strong>Tema:</strong></td>
        <td align="left" nowrap="nowrap"><?= $_SESSION['tema']['nombre']?></td>
      </tr>
      <tr>
        <td align="right"><strong>Estado:</strong></td>
        <td align="left"><?= $_SESSION['tema']['estado']?></td>
      </tr>
      <tr>
        <td align="right"><strong>Quorum:</strong></td>
        <td align="left"><?= $_SESSION['tema']['quorum']?></td>
      </tr>
      <tr>
        <td width="72" align="right"><strong>Curules:</strong></td>
        <td width="129" align="left"><?= $_SESSION['tema']['curules']?></td>
      </tr>
      <tr>
        <td colspan="2" align="center">
				  <input name="opciones" type="text" id="opciones<?= $tema['tema_id']?>" size="4">
				  <a href="javascript:crear_opciones('<?= $tema['tema_id']?>','<?= $tema['nombre']?>')"
				     title="Haga click aqui para crear las opciones del tema <?= $tema['tema_id']?>"
					 onmouseover="status='Haga click aqui para crear las opciones del tema <?= $tema['tema_id']?>'; return true;"
					 onmouseout="status=' '; return true">Crear Opciones</a> </td>
        </tr>
    </table></td>
  </tr>
</table>
<br />
<table width="432"  border="0" align="center" cellpadding="4" cellspacing="1" bgcolor="#6699CC">
  <tr align="left" class="txtablas">
    <td width="196" nowrap scope="col"> Nombre </td>
    <td width="217" nowrap scope="col"> Descripcion </td>
  </tr>
      <? foreach ($_SESSION['lista'] as $k => $opc) { ?>
	<tr bgcolor="<?= ($k % 2) ? '#E4EDFA' : '#C5DFF3'?>"
  onMouseOver="this.bgColor='#C2D5E2'" 
  onMouseOut="this.bgColor='<?= ($k % 2) ? '#E4EDFA' : '#C5DFF3'?>'">
    <td align="left">
	<a href="index.php?view=vistas/admin.html&dialogo=editar_descripcion&nombre=<?= $opc['nombre']?>&candidato_id=<?= $opc['candidato_id']?>" class="fila">
		<?= $opc['nombre']?>
	</a></td>
    <td align="left"><?= nl2br(str_replace(' ','&nbsp;',$opc['descripcion']))?></td>
  </tr>
      <? } ?>
</table>
