p,td{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.12in;
}

.txtablas{
	font-family: verdana,arial,helvetica,sans-serif;
	color: #ffffff;
	font-weight: bold; 
	font-size: 0.11in; 
}

.logo_img {
	vertical-align:bottom;
	text-align:left;
}

.ident {
	color: #151B28;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
}
body {	
	scrollbar-face-color:#AAD5FF;
	scrollbar-highlight-color:#004080;
	scrollbar-3dlight-color:#FFFFFF;
	scrollbar-darkshadow-color:#FFFFFF;
	scrollbar-shadow-color:#004080;
	scrollbar-arrow-color:#004080;
	scrollbar-track-color:#FFFFFF;
}
a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

.titulo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

.red_small {
	color: #FF0000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
}

.item {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.item_grande {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.item:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.item:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
input, select {
	font-family: Arial, Helvetica, sans-serif;
/*	background-color: #FFFFFF;*/
	border: 1px solid #25426D;
}
.boton {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #C0D1DA;
	border: 1px solid #000066;
	font-weight: bold;
	font-size: 11px;
}
.normal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
/*	color: #000000;*/
	text-decoration: none;
	border: none;
}
.info {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	/*color: #006600;*/
	text-decoration: none;
	border: none;
}
.addinfo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000033;
	text-decoration: none;
}

.fila {
	color: #000000;
	text-decoration: none;
}

.fila:visited {
	color: #000000;
	text-decoration: none;
}

.fila:hover {
	color: #000000;
	text-decoration: none;
}

.tabla_borde {
	background-color: #44607B;
}

.td_dialogo {
	background-color: #F4F4F7;
}

.buscar {
border-color: #44498E;
background-color: #F4F4F7;
border:solid;
border-width:1px;
border-color:#000099;

}

.error{
	color:#FF0000;
	font-size:14px;
	font-weight:bold;
}