<?= ($go) ? Util::encontrados($data) : ''?><br>
	  <form action="phrame.php" method="post" name="buscar" id="buscar">
        <br>
        <img src="imagenes/stdglaccts.gif" width="32" height="32">
		<span class="titulo">B&uacute;squeda </span><br>
        <br>
        <table width="401" border="0" cellpadding="5" cellspacing="0">
          <tr>
            <td width="150" align="left" class="ident">&nbsp;&nbsp;&nbsp;Asamblea</td>
            <td width="231" align="left" class="ident"><input name="asamblea" type="text" id="asamblea"></td>
          </tr>
          <tr>
            <td align="left" class="ident">&nbsp;&nbsp;&nbsp;Nombre </td>
            <td align="left"><input name="nombre" type="text" id="nombre"></td>
          </tr>
        </table>
        <br>
        <input name="action" type="hidden" id="action" value="buscar_temas">
        <input name="boton" type="submit" id="boton" value="Buscar" class="boton">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input name="Volver" type="button" id="Volver" value="Cancelar" onClick="history.back()" class="boton">
        <br>
        <br>
</form>      
