<?php extract($_SESSION); ?>
<?php echo (isset($go) && $go) ? Util::encontrados($data) : ''; ?><br>
<form action="phrame.php" method="post">
<table width="511" border="0" align="center" cellpadding="2" cellspacing="1" class="tabla_borde">
  <tr>
	<td height="235" align="center" class="td_dialogo"><img src="imagenes/stdglaccts.gif" width="32" height="32" /> <span class="titulo">B&uacute;squeda de Asociados
	</span><br />
	<br />
	<table width="401" border="0" cellpadding="5" cellspacing="0">
	  <tr>
		<td width="150" align="right" class="ident">Identificaci&oacute;n</td>
		<td width="231" align="left" class="ident"><input name="documento" type="text" id="documento" /></td>
	  </tr>
	  <tr>
		<td align="right" class="ident">Nombre </td>
		<td align="left"><input name="nombre" type="text" id="nombre" /></td>
	  </tr>
	  <tr>
		<td align="right" class="ident">C&oacute;digo </td>
		<td align="left"><span class="ident">
		  <input name="codigo" type="text" id="codigo" />
		</span></td>
	  </tr>
	</table>
	<br />
	<input name="action" type="hidden" id="action" value="buscar" />
	<input name="seccion" type="hidden" id="seccion" value="asamblea" />
	<input name="boton" type="submit" id="boton" value="Buscar" class="boton" />
&nbsp;&nbsp;&nbsp;&nbsp;
<input name="Volver" type="reset" id="Volver" value="Limpiar" class="boton" /></td>
  </tr>
</table>
<br>
<br>
<br>
</form>      
