<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="96%" align="center"> <br>
        <br>
        <span class="titulo"><strong><img src="imagenes/103-BTN.GIF" width="40" height="40">&nbsp;&nbsp;&nbsp;Seleccionando un Tema</strong></span><br>
        <br>
        <form action="phrame.php" method="post" name="crear" id="crear">
          <select name="tema_id" size="1">
            <? foreach ($_SESSION['lista_temas'] as $tema) { ?>
            <option value="<?= $tema['tema_id']?>">
            <?= $tema['nombre']?>
            </option>
            <? } ?>
          </select>
&nbsp;&nbsp;
        <input type="submit" name="Submit" value="Seleccionar" class="boton">
        <input name="action" type="hidden" id="action" value="ver_reporte">
      </form></td>
  </tr>
</table>
