<?= (isset($go) && $go) ? Util::encontrados($data) : ''?>
<form action="phrame.php" method="post" enctype="multipart/form-data" onsubmit="return blnValidateForm(this)">
<table width="619" border="0" align="center" cellpadding="2" cellspacing="1" class="tabla_borde">
  <tr>
	<td width="613" height="482" align="center" class="td_dialogo">
            <p><span class="titulo">Cargar datos de asociados</span></p>
            <?php include("vistas/dialogos/mostrar_mensaje.php"); ?>
            <p>&nbsp;</p>
            <table width="485" border="0" cellpadding="0" cellspacing="1" bgcolor="#009900">
              <tr>
                <td width="483" bgcolor="#FFFFFF">
                  <table border="0" cellspacing="1" cellpadding="7" width="100%">
                  <tr>
                    <td align="center" valign="top"><img src="imagenes/info.jpg" /></td>
                    <td align="center" valign="middle" class="info"><p>El archivo de asociados debe ser un archivo tipo CSV 
                      (valores separados por punto y comas). Por cada asociado debe haber una linea con los siguientes campos:</p>
                      <p>Nombre; Direcci&oacute;n; Tel&eacute;fono; Email; Documento.<br />
                      </p></td>
                    </tr>
                  </table></td>
                </tr>
              </table>
            <p><br />   
              <br />
              </p>
            <table width="401" border="0" cellpadding="5" cellspacing="0">
              <tr>
                  <td width="150" align="right" class="ident">Achivo</td>
                  <td width="231" align="left" class="ident">
                  <input type="file" name="datos_archivo" id="archivo" onclick="(document.getElementById('panelMensaje')).innerHTML = '';" />
          </td>
            </tr>
          </table>
          <br />
          <input name="action" type="hidden" id="action" value="cargar_archivo_accionistas" />
          <input name="seccion" type="hidden" id="seccion" value="asamblea" />
          <input name="boton" type="submit" id="boton" value="Cargar" class="boton" />
  &nbsp;&nbsp;&nbsp;&nbsp;
            <input name="Volver" type="reset" id="Volver" value="Limpiar" class="boton" />
        </td>
  </tr>
</table>
<br>
<br>
<br>
</form>      
<script>
    function blnValidateForm(form)
    {         
        var objPanel = document.getElementById("panelMensaje");
        objPanel.innerHTML = '';
        
        if (form.datos_archivo.value == "") {
            objPanel.innerHTML = '<span class="error">Por favor seleccione un archivo</span>';
            
            return false;
        }
        
        return true;
    }
</script>