<? if (isset($_SESSION[_FORM])) 
		foreach ($_SESSION[_FORM]->_values as $k => $v)
			${$k} = $v;
?>
<script language="javascript" type="text/javascript">
<!--
function validar_forma(forma)
{
	var mensaje = "";
	var valido = true;
	
	if (forma.nombre.value == "") {
		mensaje += "<li>Falta el campo nombre</li>";
		valido = false;
		forma.nombre.focus();
	}
	
	if (forma.login.value == "") {
		mensaje += "<li>Falta el campo login</li>";
		valido = false;
		forma.login.focus();
	}
	
	if (forma.passwd.value == "") {
		mensaje += "<li>Falta el campo contrase&ntilde;a</li>";
		valido = false;
		forma.passwd.focus();
	}
	
	if (forma.passwd.value != forma.cpasswd.value) {
		mensaje += "<li>La contrase&ntilde;a y la confirmaci&oacute;n no coinciden</li>";
		valido = false;
	}
	
	if (!valido) {
		mensaje = '<p>Se presentaron los siguientes errores:</p><table><tr><td><ul>' + mensaje;
		mensaje += "</ul></td></tr></table><p>Por favor corrija estos errores e intente de nuevo, Gracias</p>";
		displayMessage('index.php?view=vistas/dialogos/mensajes.php&tipo=warning&mensaje=' + escape(mensaje), 320, 180);
	}
	
	return valido;
}
-->
</script>
	  <form action="phrame.php" method="post" onsubmit="return validar_forma(this)">
        <br>
        <table width="511" border="0" align="center" cellpadding="2" cellspacing="1" class="tabla_borde">
          <tr>
            <td height="235" align="center" class="td_dialogo">
        <img src="imagenes/users.GIF" width="41" height="32">
		<span class="titulo">Crear Usuarios</span><br>
        <br>
        <table width="401" border="0" align="center" cellpadding="4" cellspacing="1">
          <tr>
            <td width="150" align="right" class="ident">&nbsp;&nbsp;&nbsp;Nombre</td>
            <td align="left"><input name="nombre" type="text" id="nombre" value="<?= $nombre ?>"></td>
          </tr>
          <tr>
            <td align="right" class="ident"> &nbsp;&nbsp;&nbsp;Login</td>
            <td width="231" align="left"><input name="login" type="text" id="login" value="<?= $login ?>"></td>
          </tr>
          <tr>
            <td align="right" class="ident">&nbsp;&nbsp;&nbsp;Contrase&ntilde;a</td>
            <td align="left"><input name="passwd" type="password" id="passwd"></td>
          </tr>
          <tr>
            <td align="right" class="ident">&nbsp;&nbsp;&nbsp;Confirmaci&oacute;n</td>
            <td width="231" align="left"><input name="cpasswd" type="password" id="cpasswd"></td>
          </tr>
          <tr>
            <td align="right" class="ident">&nbsp;&nbsp;&nbsp;Perfil</td>
            <td align="left"><p>
              <input name="perfil[]" type="checkbox"  value="1" class="normal">
              Accionistas<br>
              <input name="perfil[]" type="checkbox"  value="2" class="normal">
              Delegados<br>
              <input name="perfil[]" type="checkbox"  value="4" class="normal">
              Asamblea (Registrar asistencia) <br>
              <input name="perfil[]" type="checkbox"  value="8" class="normal">
              Sesion (Ingresar y salir) <br>
              <input name="perfil[]" type="checkbox"  value="16" class="normal">
              Temas<br>
              <input name="perfil[]" type="checkbox"  value="32" class="normal">
              Votar<br>
              <input name="perfil[]" type="checkbox"  value="64" class="normal">
              Reportes<br>
              <input name="perfil[]" type="checkbox"  value="128" class="normal">
            Usuarios</p>            </td>
          </tr>
        </table>
        <br>
        <br>
        <input name="action" type="hidden" id="action" value="crear_usuario">
        <input name="boton" type="submit" id="boton" value="Adicionar" class="boton">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input name="Volver" type="button" id="Volver" value="Cancelar" onClick="history.back()" class="boton"> 
        <br>
        <br> </td>
          </tr>
        </table>
      </form>    
