<script language="javascript" type="text/javascript">
<!--
function llenar_votacion(objSelect)
{
	var index = objSelect.selectedIndex;

	if (index != 0) {
		<? foreach ($_SESSION['lista_accionista'] as $accionista) { ?>
		(document.getElementById("valor<?= $accionista['accionista_id']?>")).selectedIndex = index;
		<? } ?>
	}
}

function validar(objForma)
{
	<? foreach ($_SESSION['lista_accionista'] as $k => $accionista) { ?>
	if ((document.getElementById("valor<?= $accionista['accionista_id']?>")).selectedIndex == 0) {
		alert("Falta un asociado por elegir opcion");
		return false;
	}
	<? } ?>
	
	return true;
}

function enviar_voto(obj)
{
	if (obj.value != '') {
		if (event.keyCode == 13){ 
			obj.form.submit();
		} 
	}
}
-->
</script>



<p>&nbsp;</p>
<table width="356" border="0" cellpadding="0" cellspacing="1" bgcolor="#009900">
  <tr>
    <td width="354" bgcolor="#FFFFFF">
      <table border="0" cellspacing="1" cellpadding="7" width="100%" height="100%">
        <tr>
          <td width="14%" align="center"><img src="imagenes/info.jpg"></td>
          <td width="86%" align="center" valign="middle" class="info">Por favor seleccione la opcion a elegir por representado </td>
        </tr>
    </table></td>
  </tr>
</table>
<br> 
<strong><img src="imagenes/graphicdesign.gif" width="32" height="32">&nbsp;&nbsp;Elegir opci&oacute;n </strong><br>
<br> 
<table border="0" cellpadding="0" cellspacing="1">
  <tr>
    <td width="501" align="left"><p><strong>Tema a votar:</strong>&nbsp;
        <?php echo  $_SESSION['tema']['nombre']; ?>
        <br> <?php //echo $_SESSION['representante']['nombre']?>
        <br>
        <br>
      <form name="votacion" method="post" action="phrame.php" onsubmit="return validar(this)">
<!--Llenar todo con
<select name="candidatos_select" id="candidatos_select" onchange="llenar_votacion(this)" onkeypress="enviar_voto(this)">
<option value="">Seleccione una opcion</option>
<? /*foreach ($_SESSION['lista_opciones'] as $opcion) { ?>
	<option value="<?= $opcion['candidato_id'] ?>"><?= $opcion['nombre'] ?></option>
<? }*/ ?>
</select>
</p>-->
      <p>&nbsp;          </p>
  <table width="376" border="0" align="center" cellpadding="0" cellspacing="1">
    <tr align="center">
      <td><strong>Asociado</strong></td>
      <td><strong>Opci&oacute;n</strong></td>
      </tr>
    <? foreach ($_SESSION['lista_accionista'] as $accionista) { ?>
    <tr>
      <td width="217" align="left"><?= $accionista['nombre']?>
        &nbsp;&nbsp;</td>
      <td width="156" align="center">
	  	<select name="valor[<?= $accionista['accionista_id']?>]" id="valor<?= $accionista['accionista_id']?>">
			<option value="">Seleccione una opcion</option>
			<? foreach ($_SESSION['lista_opciones'] as $opcion) { ?>
				<option value="<?= $opcion['candidato_id'] ?>"><?= $opcion['nombre'] ?></option>
			<? } ?>
	    </select>  
	  </td>
      </tr>
    <? } ?>
  </table>
  <div align="center"><br>
      <br>
      <input type="submit" name="Button" value=" Registrar voto " class="boton">
      <input name="action" type="hidden" id="action" value="votar">
  </div>
      </form>
<p></p></td>
  </tr>
</table>
<script language="javascript">
<!--
(document.getElementById('candidatos_select')).focus();
-->
</script>
