
<p>&nbsp;</p>
<table width="356" border="0" cellpadding="0" cellspacing="1" bgcolor="#009900">
  <tr>
    <td width="354" bgcolor="#FFFFFF">
      <table border="0" cellspacing="1" cellpadding="7" width="100%" height="100%">
        <tr>
          <td width="14%" align="center"><img src="imagenes/info.jpg"></td>
          <td width="86%" align="center" valign="middle" class="info">La delegaci&oacute;n se realiz&oacute; con &eacute;xito </td>
        </tr>
    </table></td>
  </tr>
</table>
<br>
<p><br>
</p>
<table width="503" border="0" cellpadding="0" cellspacing="1">
  <tr>
    <td align="left"><strong>Asociado</strong></td>
    <td>&nbsp;</td>
    <td align="left"><strong>Representante</strong></td>
  </tr>
  <tr>
    <td width="224">      <table width="224" height="25" border="0" cellpadding="5" cellspacing="1" bgcolor="#0066CC">
      <tr>
          <td width="212" align="left" bgcolor="#B7CDDB"> 
		  <strong>Nombre</strong>:
		   <a href="phrame.php?action=ver_accionista&accionista_id=<?=$accionista['accionista_id']?>" 
				 title="Haga click aqui para ver detalle del accionista" 
				 onmouseover="status='Haga click aqui para ver detalle del accionista'; return true;" 
				 onmouseout="status=''; return true;">
          <?= $accionista['nombre']?>
          </a><br>
          <strong>Cantidad</strong>: <span class="normal" id="cantidad">
        <?= $accionista['cantidad']?>
        </span><br>
        <strong>Participaci&oacute;n</strong>: <span class="normal">
        <?// = Util::participacion($accionista['cantidad']) . '%'?>
      </span> </td>
      </tr>
    </table></td><td width="40" align="center"><strong> ==&gt; </strong></td>
    <td width="235"><table width="224" height="25" border="0" cellpadding="5" cellspacing="1" bgcolor="#0066CC">
      <tr>
        <td width="212" align="left" bgcolor="#B7CDDB">
		 <strong>Nombre</strong>:
		  <a href="phrame.php?action=ver_accionista&accionista_id=<?=$representante['accionista_id']?>" 
				 title="Haga click aqui para ver detalle del accionista" 
				 onmouseover="status='Haga click aqui para ver detalle del accionista'; return true;" 
				 onmouseout="status=''; return true;">
          <?= $representante['nombre']?>
          </a> </td>
      </tr>
    </table></td>
  </tr>
</table>
<? unset($_SESSION['accionista']);
  unset($_SESSION['representante']); ?>
