<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="96%" align="center"> 
	<? // if ($_SESSION['usuario']['login'] == 'admin') { ?>
	     <table width="356" border="0" cellpadding="0" cellspacing="1" bgcolor="#009900">
      <tr>
        <td width="354" bgcolor="#FFFFFF">
          <table border="0" cellspacing="1" cellpadding="7" width="100%" height="100%">
            <tr>
              <td width="14%" align="center"><img src="imagenes/info.jpg"></td>
              <td width="86%" align="center" valign="middle" class="info">Por favor seleccione un tema<br> 
                para iniciar la votaci&oacute;n </td>
            </tr>
        </table></td>
      </tr>
    </table>      
	     <p><br>
           <br>
	            <span class="titulo"><strong><img src="imagenes/103-BTN.GIF" width="40" height="40">&nbsp;&nbsp;&nbsp;Seleccionando un Tema</strong></span><br>
           <br>
           <? if (empty($_SESSION['lista'])) { ?>
      </p>
	     <p>&nbsp;</p>
	     <p>   <span class="error">Debe haber al menos un tema con estado abierto y con opciones para poder votar.	    </span>
           <? } else { ?>
               </p>
      <form action="phrame.php" method="post" name="crear" id="crear">
        <select name="tema_id" size="1">
			<? foreach ($_SESSION['lista'] as $tema) { ?>
			<option value="<?= $tema['tema_id']?>"><?= $tema['nombre']?></option>
			<? } ?>
        </select>
        &nbsp;&nbsp;
        <input type="submit" name="Submit" value="Seleccionar" class="boton">
        <input name="action" type="hidden" id="action" value="seleccionar_tema">
      </form>
	  <? } ?>    </td>
  </tr>
</table>
