 <?php 
	if (!isset($_SESSION['dialogo'])) {
           $dialogo = $_SESSION['dialogo'];
        } else {
            $dialogo = "lista";
        }
		
	if (isset($_REQUEST['dialogo']))
            $dialogo = $_SESSION['dialogo'] = $_REQUEST['dialogo'];
?>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="4%" align="left" valign="top"><img src="imagenes/curva.jpg"></td>
    <td width="96%" align="center"><table width="375" border="0" cellpadding="5" cellspacing="1" bgcolor="#0066CC">
      <tr>
        <td bgcolor="#EEEEEE" onmouseover="this.bgColor='#CCCCCC'" 
		      onmouseout="this.bgColor='#EEEEEE'" align="center">
			   <a href="index.php?view=vistas/admin.html&modulo=accionistas&dialogo=buscar&clase=A" 
				   title="Haga click para adicionar uin nuevo accionista" 
				   onMouseOver="status='Haga click para adicionar uin nuevo accionista'; return true;" 
				   onMouseOut="status=' '; return true;"
				   class="ident"><strong>Buscar Asociados</strong></a></td>
                                   
        <td bgcolor="#EEEEEE" onmouseover="this.bgColor='#CCCCCC'" 
		      onmouseout="this.bgColor='#EEEEEE'" align="center"> 
			  <a href="phrame.php?action=mostrar_delegacion" 
				   title="Haga click para delegar acciones" 
				   onMouseOver="status='Haga click para delegar acciones'; return true;" 
				   onMouseOut="status=' '; return true;"
				   class="ident"><strong>Delegar </strong></a></td>
        
        <? if ($_SESSION['usuario']['login'] == 'admin') { ?>
        <td bgcolor="#EEEEEE" onmouseover="this.bgColor='#CCCCCC'" 
            onmouseout="this.bgColor='#EEEEEE'" align="center"> 
                <a href="index.php?view=vistas/admin.html&modulo=accionistas&dialogo=cargar_accionistas" 
                         title="Haga click para cargar asociados" 
                         onMouseOver="status='Haga click para cargar archivo de accionistas'; return true;" 
                         onMouseOut="status=' '; return true;"
                         class="ident"><strong>Carga de Asociados</strong></a></td>
      </tr>
      <? } ?>
    </table></td>
  </tr>
</table>
<p align="center"><? include ("vistas/dialogos/$dialogo.html") ?></p>