<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="4%" align="left" valign="top"><img src="imagenes/curva.jpg" width="33" height="34"></td>
    <td width="96%" align="center"><table border="0" cellpadding="5" cellspacing="1" bgcolor="#0066CC">
        <tr>
          <? if (!isset($_SESSION['asamblea']) || $_SESSION['asamblea']['estado'] != '0') { ?>
          <td align="center" bgcolor="#EEEEEE" onmouseover="this.bgColor='#CCCCCC'" onmouseout="this.bgColor='#EEEEEE'">
             <b>
               <a href="index.php?view=vistas/admin.html&modulo=asamblea&accion=crear">Crear Asamblea</a>
             </b> 
          </td>
          <? } if ($_SESSION['asamblea']['estado'] == '0') { ?>
          <td align="center" bgcolor="#EEEEEE" onmouseover="this.bgColor='#CCCCCC'" onmouseout="this.bgColor='#EEEEEE'">
             <a href="phrame.php?action=cerrar_asamblea"><strong>Cerrar Asamblea </strong></a>
          </td>
          <? } ?>
        </tr>
    </table></td>
  </tr>
</table>

<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="4%" align="left" valign="top">&nbsp;</td>
    <td width="96%" align="center"><?	
	if (isset($_REQUEST['dialogo']))
		include("dialogos/".$_REQUEST['dialogo'].".html");
	elseif (!isset($_SESSION['asamblea']) && !$_REQUEST['accion']) {
		echo '<br><br>
		<img src="imagenes/trafficlight.gif">
		<b>Asamblea Cerrada</b><br><br>
		Haga click en crear asamblea para empezar una nueva asamblea';
	} else {
?>
<form action="phrame.php" method="post">
  <br>
  <img src="imagenes/lookupcheck.jpg" width="34" height="36"> &nbsp;
  <span class="titulo">Asamblea</span><br>
  <br>
  <table width="307" border="0" cellpadding="5" cellspacing="0">
    <tr>
      <td width="92" align="left"class="ident">Nombre</td>
      <td width="289" align="left">
          <?php 
           $strAsambleaNombre = (isset($_SESSION['asamblea']) && !$_REQUEST['accion']) ?
                                    $_SESSION['asamblea']['nombre'] : '';
          ?>
          <input name="nombre" type="text" id="nombre" value="<?php print $strAsambleaNombre ?>" />
      </td>
    </tr>
  </table>
  <br>
  <input name="action" type="hidden" id="action" value="<?= ($_REQUEST['accion']) ? 'crear_asamblea' : 'cambiar_asamblea'?>">
  <input class="boton" name="boton" type="submit" id="boton" value="Guardar Cambios">
&nbsp;&nbsp;&nbsp;&nbsp;
  <input class="boton" name="Volver" type="button" id="Volver" value="Cancelar" onClick="history.back()">
  <br>
  <br>
</form>
<? } ?>
</td>
  </tr>
</table>
<br>
<br>
