
<table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="4%" align="left" valign="top"><img src="imagenes/curva.jpg" /></td>
        <td width="96%" align="center">&nbsp;</td>
    </tr>
</table>
<table width="100%" height="554" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="100%" align="center" valign="middle"><h1>Sistema de Gesti&oacute;n de Asociados<br>
    </h1>
    <h3><img src="imagenes/logo_asamblea.jpg" width="418" height="123"><br>
    </h3>
    <p>Versi&oacute;n 2.0 <br />
        <span class="addinfo">(&Uacute;ltima modificaci&oacute;n: Junio 2008)</span></p></td>
  </tr>
</table>
