<? $_SESSION['modulo'] = "reportes"; ?>
<script language="javascript" type="text/javascript">
<!--
function buscar()
{
	if (<?= (isset($_SESSION['reportes']) && $_SESSION['repores'] == 1) ? 1 : 0?>) {
		location = 'index.php?view=vistas/admin.html&modulo=reportes&dialogo=buscar_reportes';
	} else { 
		var divMostrar = document.getElementById("mostrarDialogo");
		var divLogin = document.getElementById("dialogoBusqueda");
		
		divMostrar.innerHTML = divLogin.innerHTML;
		//alert('Por favor ingrese login y contraseņa'); 
	}
}
-->
</script>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="4%" align="left" valign="top"><img src="imagenes/curva.jpg" width="33" height="34"></td>
    <td width="96%" align="center"><table width="285" border="0" cellpadding="5" cellspacing="1" bgcolor="#0066CC">
        <tr>
          <td width="273" align="center" bgcolor="#EEEEEE" onmouseover="this.bgColor='#CCCCCC'" 
		     onmouseout="this.bgColor='#EEEEEE'"> <strong><a href="javascript:buscar();">B&uacute;squedas</a></strong> </td>
        </tr>
    </table></td>
  </tr>
</table>
<div id="mostrarDialogo"></div>
  <div id="dialogoBusqueda" style="visibility:hidden; position:absolute; top:0px; left:opx;"><p><br>
  </p>
  <table border="0" cellspacing="1" cellpadding="2" class="tabla_borde">
    <tr>
      <td width="376" align="center" class="td_dialogo"><span class="info"><br />
        Por favor ingrese login y password 
para realizar b&uacute;squedas </span>
        <form action="phrame.php" method="post" name="ingresar" id="ingresar">
          <table width="260" border="0" cellpadding="5" cellspacing="0">
            <tr>
              <td width="100" align="right">Login</td>
              <td width="156"><input name="login" type="text" id="login" /></td>
            </tr>
            <tr>
              <td align="right">Contrase&ntilde;a</td>
              <td><input name="passwd" type="password" id="passwd" /></td>
            </tr>
          </table>
          <p>
            <input type="submit" 
         name="Button" 
		 value="Ingresar" 
		 class="boton" />
            <input name="action" type="hidden" id="action" value="entrar_reportes" />
            <br />
          </p>
      </form></td>
    </tr>
  </table></div>
<? include("dialogos/".$_REQUEST['dialogo'].".html"); ?>
<br>
<br>