 <?php
	if (!isset($dialogo)) 
		$dialogo = "lista_representantes";
		
	if (isset($_REQUEST['dialogo']))
		$dialogo = $_SESSION['dialogo'] = $_REQUEST['dialogo'];
?>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="4%" align="left" valign="top"><img src="imagenes/curva.jpg" width="33" height="34"></td>
    <td width="96%" align="center"><table width="491" border="0" cellpadding="5" cellspacing="1" bgcolor="#0066CC">
        <tr>
		<? if ($_SESSION['usuario']['perfil'] & 2048) { ?>
          <td bgcolor="#EEEEEE" onmouseover="this.bgColor='#CCCCCC'" 
		     onmouseout="this.bgColor='#EEEEEE'" align="center">
		  	    <a href="index.php?view=vistas/admin.html&dialogo=nuevo_representante" 
				   title="Haga click para adicionar uin nuevo representante" 
				   onMouseOver="status='Haga click para adicionar un nuevo representante'; return true;" 
				   onMouseOut="status=' '; return true;"
				   class="ident">&nbsp;&nbsp;<strong>Nuevo Delegados</strong></a>
		  </td>
		  <? } ?>
          <td bgcolor="#EEEEEE" onmouseover="this.bgColor='#CCCCCC'" 
		      onmouseout="this.bgColor='#EEEEEE'" align="center">
		  	    <a href="index.php?view=vistas/admin.html&modulo=representantes&dialogo=buscar&clase=R" 
				   title="Haga click para listar los representantes" 
				   onMouseOver="status='Haga click para listar los representantes'; return true;" 
				   onMouseOut="status=' '; return true;"
				   class="ident">&nbsp;&nbsp;<strong>Buscar Delegados</strong>
				</a>
		  </td>
		<? if ($_SESSION['usuario']['perfil'] & 4096) { ?>
          <td bgcolor="#EEEEEE" onmouseover="this.bgColor='#CCCCCC'" 
		      onmouseout="this.bgColor='#EEEEEE'" align="center"> <a href="phrame.php?action=mostrar_delegacion<? if (isset($accionista)) { ?>&representante_id=<?= $accionista['accionista_id']?><? } ?>" 
				   title="Haga click para delegar acciones" 
				   onMouseOver="status='Haga click para delegar acciones'; return true;" 
				   onMouseOut="status=' '; return true;"
				   class="ident">&nbsp;&nbsp;<strong>Delegar Acciones </strong>&nbsp;&nbsp; </a> </td>
		<? } ?>
        </tr>
</table></td>
  </tr>
</table><br> <br>   
<? include ("vistas/dialogos/$dialogo.html") ?>   
      <br>