<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="4%" align="left" valign="top"><img src="imagenes/curva.jpg" width="33" height="34"></td>
    <td width="96%" align="center"><table width="491" border="0" cellpadding="5" cellspacing="1" bgcolor="#0066CC">
        <tr>
		<? if ($_SESSION['usuario']['perfil'] & 8) { ?>
          <td bgcolor="#EEEEEE" onmouseover="this.bgColor='#CCCCCC'" 
		     onmouseout="this.bgColor='#EEEEEE'" align="center"> <strong><a href="index.php?view=vistas/admin.html&dialogo=registrar_ingreso">Registrar Ingreso</a> </strong> </td>
			 <? } if ($_SESSION['usuario']['perfil'] & 8192) { ?>
          <td bgcolor="#EEEEEE" onmouseover="this.bgColor='#CCCCCC'" 
		      onmouseout="this.bgColor='#EEEEEE'" align="center"><strong><a href="index.php?view=vistas/admin.html&dialogo=registrar_salida">Registrar Salida </a></strong></td>
		<? } ?>
        </tr>
    </table></td>
  </tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="4%" align="left" valign="top">&nbsp;</td>
    <td width="96%" align="center"><?
	if (isset($_REQUEST['dialogo']))
		include("vistas/dialogos/".$_REQUEST['dialogo'].".html");
               else {
?>
<script>
<!--
function recargar()
{
	location = 'phrame.php?action=mostrar_sesion#sesion';
}
window.setTimeout("recargar()", 20000);
-->
</script>
      <br>
      <br>
      <br>
      <img src="imagenes/clockout.gif" width="46" height="47"> &nbsp; <span class="titulo">Sesi&oacute;n</span><br>
      <br>
        <?php 
        
        $numRegistrados = $_SESSION['presentes']['num_personas'] + $_SESSION['retirados']['num_personas'] + $_SESSION['ausentes']['num_personas'];
        $numRegistradosRepresentados = $_SESSION['presentes']['representados'] + $_SESSION['retirados']['representados'] + $_SESSION['ausentes']['representados'];
        
        $total_representados =  $_SESSION['presentes']['num_personas'] + $_SESSION['presentes']['representados'] + $_SESSION['retirados']['representados'] + $_SESSION['ausentes']['num_personas'] + $_SESSION['ausentes']['representados'] + $_SESSION['no_registrados']['representados'];
               $total_acciones = $_SESSION['presentes']['cantidad'] + $_SESSION['retirados']['cantidad'] + $_SESSION['ausentes']['cantidad'] + $_SESSION['no_registrados']['cantidad'];
        ?>
      <table  border="0" cellpadding="5" cellspacing="1" background="imagenes/fondo_prueba.jpg" bgcolor="#003366">
        <tr>
          <td align="left"class="ident">&nbsp;</td>
          <td align="center" class="item"><strong>No. personas </strong></td>
          <td align="center" class="item"><b>Porcentaje</b></td>
        </tr>
        <tr>
          <td align="left" class="item"><strong>Asistentes Personales</strong></td>
          <td align="center" bgcolor="#FFFFFF"><?php echo $_SESSION['presentes']['num_personas']?></td>
          <td align="center" bgcolor="#FFFFFF"><?php echo Util::participacion($_SESSION['presentes']['num_personas']) ?>%</td>
        </tr>
        <tr>
          <td align="left" class="item"><strong>Representado por poder</strong></td>
          <td align="center" bgcolor="#FFFFFF"><?php echo $_SESSION['presentes']['representados']?></td>
          <td align="center" bgcolor="#FFFFFF"><?php echo Util::participacion($_SESSION['presentes']['representados']) ?>%</td>
        </tr>
        <tr>
          <td align="left" class="item"><strong>Total</strong></td>
          <td align="center" bgcolor="#FFFFFF"><?php echo $_SESSION['presentes']['num_personas'] + $_SESSION['presentes']['representados'] ?></td>
          <td align="center" bgcolor="#FFFFFF"><?php echo Util::participacion($_SESSION['presentes']['num_personas']+$_SESSION['presentes']['representados']) ?>%</td>
        </tr>
        <tr>
          <td align="left" class="item">&nbsp;</td>
          <td align="center" bgcolor="#FFFFFF">&nbsp;</td>
          <td align="center" bgcolor="#FFFFFF">&nbsp;</td>
        </tr>
        <tr>
          <td width="115" align="left" class="item"><strong><strong>Registrados</strong> </strong></td>
          <td width="104" align="center" bgcolor="#FFFFFF"><?php echo $numRegistrados?></td>
          <td width="104" align="center" bgcolor="#FFFFFF"><?php echo Util::participacion($numRegistrados) ?>%</td>
        </tr>
        <tr>
          <td align="left" class="item"><strong>Registrados por poder</strong></td>
          <td align="center" bgcolor="#FFFFFF"><?php echo number_format($numRegistradosRepresentados)?></td>
          <td align="center" bgcolor="#FFFFFF"><?php echo Util::participacion(number_format($numRegistradosRepresentados))?>%</td>
        </tr>
        <tr>
          <td align="left" class="item"><strong>Total Registrado</strong></td>
          <td align="center" bgcolor="#FFFFFF"><?php echo number_format($numRegistradosRepresentados + $numRegistrados)?></td>
          <td align="center" bgcolor="#FFFFFF"><?php echo Util::participacion(number_format($numRegistradosRepresentados + $numRegistrados)) ?>%</td>
        </tr>
        <tr>
          <td align="left" class="item">&nbsp;</td>
          <td align="center" bgcolor="#FFFFFF">&nbsp;</td>
          <td align="center" bgcolor="#FFFFFF">&nbsp;</td>
        </tr>
        <tr>
          <td align="left" class="item"><strong>Asociados h&aacute;biles</strong></td>
          <td align="center" bgcolor="#FFFFFF"><?= $total_representados ?></td>
          <td align="center" bgcolor="#FFFFFF">--</td>
        </tr>
      </table>    
      <br>
	  <?php
            $_SESSION['legends'] = array("Asistentes",
                                         "Retirados",
                                         "Registrados",
                                         "No registrados");
            $_SESSION['data'] = array($_SESSION['presentes']['num_personas'], 
                                      $_SESSION['presentes']['representados'], 
                                      $numRegistrados, 
                                      $numRegistradosRepresentados);
								  
	  ?>
	  <iframe src="phrame.php?action=mostrar_pastel" width="600" height="300" frameborder="0"></iframe>
	<? } ?>
      <br>
    </td>
  </tr>
</table><a name="sesion"></a>
<br><br>