<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="4%" align="left" valign="top"><img src="imagenes/curva.jpg" width="33" height="34"></td>
    <td width="96%" align="center"><table width="293" border="0" cellpadding="5" cellspacing="1" bgcolor="#0066CC">
        <tr>
          <td width="142" align="center" bgcolor="#EEEEEE" onmouseover="this.bgColor='#CCCCCC'" 
		     onmouseout="this.bgColor='#EEEEEE'"> <strong><a href="phrame.php?action=listar_temas">Listar Temas </a></strong> </td>
          <td width="128" align="center" bgcolor="#EEEEEE" onmouseover="this.bgColor='#CCCCCC'" 
		      onmouseout="this.bgColor='#EEEEEE'"><strong><a href="index.php?view=vistas/admin.html&dialogo=crear_tema">Crear Tema</a></strong></td>
        </tr>
    </table></td>
  </tr>
</table>
<? include("temas/".$_REQUEST['dialogo'].".html"); ?>
<br>
<br>
