<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="4%" align="left" valign="top"><img src="imagenes/curva.jpg" width="33" height="34"></td>
    <td width="96%" align="center"><table width="375" border="0" cellpadding="5" cellspacing="1" bgcolor="#0066CC">
        <tr>
          <td width="194" align="center" bgcolor="#EEEEEE" onmouseover="this.bgColor='#CCCCCC'" onmouseout="this.bgColor='#EEEEEE'">
			  <strong>
			  <a href="index.php?view=vistas/admin.html&modulo=usuarios&dialogo=buscar_usuarios" title="Haga click aqui para buscar usuarios" onmouseover="status='Haga click aqui para buscar usuarios'; return true;" onmouseout="status=' '; return true;">
			  	Buscar Usuarios
			  </a></strong></td>
          <td width="158" align="center" bgcolor="#EEEEEE" onmouseover="this.bgColor='#CCCCCC'" onmouseout="this.bgColor='#EEEEEE'">
		   <a href="index.php?view=vistas/admin.html&modulo=usuarios&dialogo=crear_usuario" title="Haga click aqui para crear un nuevo usuario" onmouseover="status='Haga click aqui para crear un nuevo usuario'; return true;" onmouseout="status=' '; return true;">
		   	<strong>Crear Usuarios</strong>
		   </a></td>
        </tr>
    </table></td>
  </tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="4%" align="left" valign="top">&nbsp;</td>
    <td width="96%" align="center">
	
	<? if (isset($accion_mensaje) && $accion_mensaje != '') { 
		if ($tipo_mensaje == 'info') { ?>
			<span class="error"><br /><?= $accion_mensaje ?></span>
		<? } else { ?>	
		<script language="javascript" type="text/javascript">
		<!--
		displayMessage('index.php?view=vistas/dialogos/mensajes.php&tipo=<?= $tipo_mensaje ?>&mensaje=<?= urlencode($accion_mensaje) ?>', 320, 150);
		-->
		</script>
	<? } 
		unset($_SESSION['respuesta']['accion_mensaje']);
		unset($_SESSION['respuesta']['tipo_mensaje']);
	} ?>
	   
	   <?    
	if (!isset($_REQUEST['dialogo'])) $dialogo = 'buscar_usuarios';
	else $dialogo = $_REQUEST['dialogo'];
	 include ("vistas/dialogos/$dialogo.html") ?></td>
  </tr>
</table>
<br>
<br>
